<a href="https://colab.research.google.com/github/Tinaaaa1219/BA765_Intro-to-data-science/blob/main/07_06_01_IntroToPython_Lecture.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BA765: Programming for Data Science

## Session 2 : Intro to Python 

**Summer 2021**

July 8, 2021

---

### A very brief introduction to Python

As [Wikipedia puts it](https://en.wikipedia.org/wiki/Python_(programming_language)), Python is an interpreted, high-level, general-purpose programming language. Python compels its user to follow a distinct style emphasizing code readability. The most apparent example is the use of whitespace indentation instead of brackets, braces, or heavy use of punctuation marks. It is a style that slowly grows on you. So, if you feel constrained by it, give Python a chance and you most likely will start enjoying it. Afterall, Python is the worlds most popular programming language [according to GitHub](http://pypl.github.io/PYPL.html).

Being an open-source language it is being made more and more useful through all the immensity of libraries and modules that extend its functionality way beyond what comes built-in. Using these modules is often as easy as typing `import <module_name>`. On a different note, like any open-source project Python has its share of frivolous in-jokes, such as the one presented below.

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

* Python 是为可读性设计的，与英语有一些相似之处，并受到数学的影响。
* Python 使用新行来完成命令，而不像通常使用分号或括号的其他编程语言。
* Python 依赖缩进，使用空格来定义范围；例如循环、函数和类的范围。其他编程语言通常使用花括号来实现此目的。

### 1. Some basic built-in python syntax and functions


*   句点：英国英语（BrE）：Full Stop；美国英语（AmE）：Period，“ . ”
*   问号：Question Mark，“ ? ”
*   感叹号：Exclamation Mark，“ ! ”
*   逗号：Comma，“ , ”
*   冒号：Colon，“  : ”
*   省略号：Ellipsis (众数：Ellipses)，“ ... ”
*   分号：Semicolon，“ ; ”
*   连字符：Hyphen，“ - ”
*   连接号：En Dash，“ – ”
*   破折号：Em Dash，“ — ”
*   括号：Parentheses，
    小括号（圆括号）“ ( ) ” （parenthesis; round brackets）；
    中括号“ [ ] ”（square brackets）；
    大括号“ { } ”（curly brackets; braces）
*   引号：Quotation Marks，\
　　　双引号“ " ”（quote）；\
　　　单引号“ ' ”（single quotation marks）
*   缩写及所有格符号：Apostrophe，“ ' ”

#### 1.1 Hello, World!

Let's start with the classic program that is traditionally used to introduce any language; printing the letters `Hello, World!` on the screen.

Note that # character indicates a comment, that line is not executed!

In [ ]:
# Type-in "Hello, World!"
print("Hello, World!")

Hello, World!

In [ ]:
# print your name

print("Yihan")

Yihan

__________________________________________________________________________________________________________________________

# 1.2 Python's basic data types

Basic data types in python include:
    
- Boolean (bool)  
    - example: True, False <br> <br>

- Integer (int)  
    - example: 2020 <br> <br>

- Floating point (float)
    - example: 32.56, 4.5e2 <br> <br>

- Text string (str)  
    - example: "I", 'love', '''Python'''  <br> <br>

- List (list)
    - example: ['Paris', 'Abuja', 'Hanoi', 2021] <br> <br>
## ***Note***: python lists can contain values corresponding to **different data types**; <br>
    but arrays in python can only contain values corresponding to same data type. <br>
  
    <br> <br>
    
- Tuple (tuple) 
    - example: (1,2,3,4) ; <br> Note: tuples are **immutable**  <br>

There is a built-in python function `type()` that returns the type of the python object

**Simple exercise:**
Write a few python objects: a boolean, an integer, a float, a string, a list, and a tuple, and use the built-in function `type()` to check if your python object is indeed what you expected.

In [ ]:
# Example:
# write a boolean
x = False
y = True
print(x)
y

False

True

In [ ]:
# Example:
# use the "type()" built-in python function to check if the boolean value of the previous example is indeed boolean

type(x)
print(type(x))
type(x)

<class 'bool'>

bool

In [ ]:
#Handy feature: The question mark
x=False
x?

In [ ]:
# write (and check) an integer
x = 756
type(x)

int

In [ ]:
# write (and check) a float (real number)
print(type(3.14e2))
type(1.005)

<class 'float'>

float

In [ ]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     756
y          bool    True

%whos is define what you define in your code(memory

In [ ]:
# write (and check) a string
z = "I Love Python"
type(z)

str

In [ ]:
# write (and check) a list
a = [x, y, z]
a

[756, True, 'I Love Python']

In [ ]:
type(a)

list

In [ ]:
# write (and check) a tuple
b = a, x
b

([756, True, 'I Love Python'], 756)

In [ ]:
type(b)

tuple

__________________________________________________________________________________________________________________________

#  1.3 Variables: specifying data values in python

***Example:***

In [ ]:
# Assigning strings to variables 

x = "Hello"
y = "World"
print(x)
print(y)
print(x, y)
print(x, y, "!")
#用'，'的方式格里每一个词 每个词和标点之间会有空格
print(x, y + "!" +"!")
print(x, y + "!")

Hello
World
Hello World
Hello World !
Hello World!!
Hello World!

In [ ]:
# Assigning numerical values to variables

num1 = 5
num2 = 7

print(num1 + num2)

12

**Naming variables in python**

The rules:
    
- You can use lowercase letters (a through z)
- You can use UPPERCASE letters (A through Z)
- You can use digits (0 through 9)
- You can use the underscore (_)
- Names are case sensitive (boston, Boston, and BOSTON are different names)
- Names must begin with a letter or an underscore, not a digit
- Names that begin with an underscore are treated specially
- Names cannot be one of python's reserved words.

##### Python's reserved words

Python reserves some names to be keywords, please do not use these as names of your variables. Run the cell below to list all the reserved keywords.

In [ ]:
from keyword import kwlist
print(kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

______________________________________________________________________________________________________________________________

#### 1.4 Numerical Operations

Python has the basic numerical operations that makes it a quick calculator -- **but** note that we will use more advanced, math specific libraries for our data science needs!

***Simple Exercise: run the following cells***

In [ ]:
# Addition
7 + 3

In [ ]:
# Subtraction
7 - 3

In [ ]:
# Multiplication
7 * 3

In [ ]:
# Division (floating-point division or decimal division)
7 / 3

In [ ]:
# or, by assigning these numbers to variables

x = 7

y = 3

z = x/y

print(z)

2.3333333333333335

In [ ]:
# Quotient from floor division (integer division or truncating division)
7 // 3

2

In [ ]:
# Modulo (remainder)
7 % 3

1

In [ ]:
# Power (Exponentiation)
x = 2
x ** 3

8

______________________________________________________________________________________________________________________________

**Exercise:** 

As of yesterday, there were 663,994 Covid-19 reported cases in Massachusetts (source: mass.gov). 

The population of Massachusetts is 6,892,503  (estimate, July 1, 2019, source: Wikipedia and Census.org). 

Use python as calculator to calculate the number of Covid-19 cases per million ($10^6$) population, in Massachusetts.

In [ ]:
# your code here
(10e6 * 663994)/6892503

963356.8530909598

In [ ]:
(663994/6892503) * 10e6

963356.8530909598

___________________________________________________________________________________________________________________________

#### 1.5 Python's comparison operators

- Equality: ==

- Inequality: !=

- Less than: <

- Less than or equal: <=

- Greater than: >

- Greater than or equal: >=

In [ ]:
#Comparisons and boolean go well together
# Try this - can you guess the result before running the code?
a=True
b=False
d=(a==b)
d==b

True

In [ ]:
# EXERCISE: try TRUE or FALSE with numbers

x1=3
x2=4
y1=5
y2=2
#y=1

check=(x1+x2)==(y1+y2)
if check:
    print('Sum is equal to:', (x1+x2))
else:
    print('Error: sums not equal!')

Sum is equal to: 7

In [ ]:
# More logical operations - can you guess the result before running the code?
x = 3
y = 6
print(x > y)
print(y > x)
print(x == y)
print(y != x)

False
True
False
True

!= means not equal



---

#### 1.6 Strings
Python strings are more than just some of characters, they are *objects* with functions

In [ ]:
"This is a string"

'This is a string'

In [ ]:
a="This is my string"
b='This is ALSO my string'
c='''This, too, is MY String''' 
print(a)
print(b)
print(c)

This is my string
This is ALSO my string
This, too, is MY String

Let's use some of the methods of the string object, namely, `split`, `upper` and `lower`:

In [ ]:
# split()
a.split()

['This', 'is', 'my', 'string']

In [ ]:
b.upper()

'THIS IS ALSO MY STRING'

In [ ]:
c.lower()

'this, too, is my string'

In [ ]:
print(a.isalnum() , b.isnumeric())
print(c.split())
print(c.split(','))

False False
['This,', 'too,', 'is', 'MY', 'String']
['This', ' too', ' is MY String']

In [ ]:
a.isalnum?
#Return True if the string is an alpha-numeric string, False otherwise.
#字母数字字符串-包括文字和数字的

In [ ]:
?b.isnumeric
#Return True if the string is a numeric string, False otherwise.
#只有数字的

**Exercise**


*   Define a string called course_number and set it to 765
*   Define a string that is equal to "Programming for Data Science"
*   Change the course title to upper and lower case

In [ ]:
course_number = 765
course_tittle= "Programming for Data Science"
print(course_number)
print(course_tittle)

765
Programming for Data Science

In [ ]:
course_tittle.upper()

'PROGRAMMING FOR DATA SCIENCE'

In [ ]:
course_tittle.lower()

'programming for data science'

In [ ]:
course_number = 765
course_tittle = "Programming for Data Science"
print(course_tittle.upper())
print(course_tittle.lower())

PROGRAMMING FOR DATA SCIENCE
programming for data science

Another very useful function is `format()`:

In [ ]:
num=765
"My favorite class at Questrom so far is BA{}".format(num)
# see that the curly brackets act like a placeholder

'My favorite class at Questrom so far is BA765'

In [ ]:
"My favorite class at Questrom so far is BA{}.".format(num)

'My favorite class at Questrom so far is BA765.'

In [ ]:
? format
# Return value.__format__(format_spec)

#format_spec defaults to the empty string.
#See the Format Specification Mini-Language section of help('FORMATTING') for details.

In [ ]:
# We can use multiple curly brackets too:
b1_start=7
b2_start=1
myString="Does this class start at {} am or {} pm??".format(b1_start,b2_start)
print(myString)

Does this class start at 7 am or 1 pm??

#### 1.7 Casting

You might be familiar with the concept "type casting" but in Holywood it means something else, for us, it means casting a variable's type to something that is different than its original type:

In [ ]:
x=2
y=2.0
print(type(x))
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
# Cast x as float:
float(x)

2.0

In [ ]:
# Did we actually change the type of x? Try to find out:
# your code here
type(x)

int

In [ ]:
#Try to cast y as integer using int()
int(y)

2

In [ ]:
type(y)

float

In [ ]:
#How about strings? Can we cast them to different types?
z="python"
list(z)

['p', 'y', 't', 'h', 'o', 'n']

In [ ]:
t = True
str(t)

'True'

In [ ]:
print(type(z))
type(t)

<class 'str'>

bool

#### 1.8 Some notes:

In [ ]:
# It is good to know the version of python we use:
import sys
sys.version

'3.7.10 (default, May  3 2021, 02:48:31) \n[GCC 7.5.0]'

In [1]:
# We can assign multiple variables at once
x,y,z = 3,3.33,"BA765"
print(x,y,z)

3 3.33 BA765

In [2]:
x,y,z = (3,3.33,"BA765")
print(x,y,z)

3 3.33 BA765

In [6]:
x,y,z = ['3','0'],3.33,"BA765"
print(x,y,z)

['3', '0'] 3.33 BA765

In [7]:
q=x,y,z
q

(['3', '0'], 3.33, 'BA765')

In [8]:
q=[x,y,z]
q

[['3', '0'], 3.33, 'BA765']

In [ ]:
#Using operations within print is allowed:
print(x+y)
print(z+"!")
print(z,'!')

6.33
BA765!
BA765 !

#### 1.9 Doing math with python
We will use the powerful numpy package for this purpose because it is very well optimized for common mathematical operations

In [ ]:
import numpy as np
# Note that we have not only imported the package, but also gave it an alias

In [ ]:
np.pi

3.141592653589793

In [ ]:
np.sqrt(625)

25.0

In [ ]:
?np.sqrt()
# Return the non-negative square-root of an array, element-wise.
# 求平方根

In [ ]:
np.sin(30.0/180.0*np.pi)

0.49999999999999994

In [ ]:
np.math.factorial(3)

6

factorial 阶乘

##### Quick Exercise

What is the difference between the # of days in the year and 5 factorial , squared, +1

In [ ]:
number_year = 365
x = np.math.factorial(5)
result = (number_year - x) **2 + 1
result

60026

In [ ]:
number_of_days_in_the_year = 365
x = np.math.factorial(5)
result = (number_of_days_in_the_year - x) **2 + 1
result

60026

In [ ]:
number_of_year = 365
x = np.math.factorial(5)
difference = number_of_year - x
result = (difference)**2 + 1
result

60026



---

#### Conclusions
Hope you enjoyed your very first introduction to Python
Now please go ahead and tackle the first lab exercises!